[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcolz = "*"
notebook = "*"
pandas = "*"
keras = "*"
jupyterlab = "*"
pillow = "*"
scikit-image = "*"
tqdm = "*"
ipywidgets = "*"
kaggle-cli = "*"
#tensorflow = "*"
tensorflow-gpu = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.6.5"

[scripts]
jlab-setup = "jupyter labextension install @jupyter-widgets/jupyterlab-manager"
